<h1 class="uk-heading-primary uk-heading-line uk-text-center"><span>Environnements️</span></h1>
<div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">
  <div class="uk-width-1-2">
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <app-atmosphere-generator isResponsive="true"></app-atmosphere-generator>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <app-weather-generator isResponsive="true"></app-weather-generator>
      </div>
    </div>
  </div>
</div>
