<h1 class="uk-heading-primary uk-heading-line uk-text-center"><span>Santé</span></h1>
<div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">
  <div class="uk-width-1-2">
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <app-mood-generator isResponsive="true"></app-mood-generator>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <app-state-generator isResponsive="true"></app-state-generator>
      </div>
    </div>
  </div>
</div>